.screen-con {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.screen-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(0,0,0,0);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23373737' d='M49.1,-56.6C63.9,-46,76.4,-30.9,82,-12.5C87.5,5.9,86.2,27.4,76.8,45.1C67.5,62.8,50.2,76.7,31,82.5C11.8,88.3,-9.4,86.1,-27.7,78.4C-46,70.7,-61.6,57.6,-70.8,41.1C-80.1,24.6,-83.1,4.7,-78.4,-12.4C-73.7,-29.6,-61.3,-43.9,-47,-54.6C-32.6,-65.3,-16.3,-72.3,0.4,-72.8C17.1,-73.3,34.3,-67.3,49.1,-56.6Z' transform='translate(100 100)'/%3e%3canimateTransform attributeName='transform' attributeType='XML' type='rotate' from='0 10 10' to='360 10 10' dur='25s' repeatCount='indefinite'/%3e%3c/svg%3e"),
  radial-gradient(circle, #333 75%, #292929 100%);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: canvas_reveal 5s linear;
  -moz-animation: canvas_reveal 5s linear;
  animation: canvas_reveal 5s linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  line-height: 100vh;
  z-index: -400;
}

@-webkit-keyframes canvas_reveal {
    0%{opacity:1;background-color: rgba(0,0,0,1)}
    66#{opacity:1;background-color: rgba(0,0,0,1)}
    100%{opacity:0;background-color: rgba(0,0,0,0)}
}

.screen-cover span {
  font-family: 'Lobster', cursive;
  font-size: 33px;
  color: white;
  -webkit-animation: canvas_reveal_text 1.5s linear;
  -moz-animation: canvas_reveal_text 1.5s linear;
  animation: canvas_reveal_text 1.5s linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes canvas_reveal_text {
    0%{opacity:1;}
    66#{opacity:1}
    100%{opacity:0}
}

#screen {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  z-index: -500;
}

.version-con{
  position: absolute;
  display: inline-block;
  left: 10px;
  bottom: 4px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: medium;
}
