html, body {
    width: 100%;
    height: 100%;
  }

.main-con {
  width: 100%;
  height: 100%;
}

.mobile-con {
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23373737' d='M49.1,-56.6C63.9,-46,76.4,-30.9,82,-12.5C87.5,5.9,86.2,27.4,76.8,45.1C67.5,62.8,50.2,76.7,31,82.5C11.8,88.3,-9.4,86.1,-27.7,78.4C-46,70.7,-61.6,57.6,-70.8,41.1C-80.1,24.6,-83.1,4.7,-78.4,-12.4C-73.7,-29.6,-61.3,-43.9,-47,-54.6C-32.6,-65.3,-16.3,-72.3,0.4,-72.8C17.1,-73.3,34.3,-67.3,49.1,-56.6Z' transform='translate(100 100)'/%3e%3canimateTransform attributeName='transform' attributeType='XML' type='rotate' from='0 10 10' to='360 10 10' dur='25s' repeatCount='indefinite'/%3e%3c/svg%3e"),
  radial-gradient(circle, #333 75%, #292929 100%);
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mobile-body > div {
  flex: 1;
}

.mobile-header {
    display: flex;
    margin: 0 auto;
    font-family: 'Lobster', cursive;
    font-size: 55px;
    line-height: 45px;
    color: white;
    filter: drop-shadow(0 2px 3px black);
}

.mobile-header span {
  position: relative;
  top: 0px;
  align-self: flex-end;
  animation: header_slide 1.5s cubic-bezier(0.04, 0.63, 0.41, 1.10);
}

@keyframes header_slide {
    0%{top: 1200px;}
    100%{top: 0px;}
}

.mobile-message {
  animation: text_slide 5s cubic-bezier(0.04, 0.63, 0.41, 1.10);
  color: #ccc;
  margin: 5px 0;
}

@keyframes text_slide {
    0%{color: #373737;
      text-shadow: none}
    35%{
      color: #373737;
      text-shadow: none;
    }

    40%{text-shadow: 0 0 1px white;}
    65%{
      color: #fff;
      text-shadow: 0 0 10px white;
    }
    80%{
      text-shadow: 0 0 1px white;
    }
    100%{
      color: #ccc;
      text-shadow: none;
    }
}

.mobile-icons {
  margin-top: 9px;
}

.mobile-icon {
  animation: icon_slide 6s cubic-bezier(0.04, 0.63, 0.41, 1.10);
  color: #ccc;
}

.mobile-icon:hover {
  color: white;
}

@keyframes icon_slide {
    0%{color: #373737;}
    70%{
      color: #373737;
      text-shadow: none;
    }
    90%{
      color: white;
      text-shadow: 0 0 10px white;
    }
    100%{
      color: #ccc;
      text-shadow: none;
    }
}
